<div class="row row-cols-1 row-cols-md-2">
<div class="card " style="width: 18rem ;">
  
    <img src="https://static8.depositphotos.com/1378583/1010/i/950/depositphotos_10106849-stock-photo-blood-drop-and-blood-bag.jpg" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">Post Camp</h5>
      <p class="card-text"></p>
      <div class="col-12">
        <button type="submit" value="submit" (click)="Save()" name="btnSubmit" class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://thumbs.dreamstime.com/z/cartoon-colorful-blood-test-tube-mascot-isolated-white-background-vector-illustration-143931666.jpg" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">Add Stock</h5>
      <p class="card-text"></p>
      <div class="col-12">
        <button type="submit" value="submit" (click)="Add()" name="btnSubmit" class="btn btn-primary">Stock</button>
      </div>
    </div>
</div>

<div class="row">
    <div class="card" style="width: 18rem ;">
      <img src="https://i.pinimg.com/originals/4c/42/94/4c42944c4cf4365ba8532d56eb4ffe6f.jpg" class="card-img-top" alt="#">
      <div class="card-body">
        <h5 class="card-title">View Camp</h5>
        <p class="card-text"></p>
        <div class="col-12">
          <button type="submit" value="submit" (click)="View()" name="btnSubmit" class="btn btn-primary">View</button>
        </div>
      </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://i.pinimg.com/originals/4c/42/94/4c42944c4cf4365ba8532d56eb4ffe6f.jpg" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">View Blood Stock</h5>
      <p class="card-text"></p>
      <div class="col-12">
        <button type="submit" value="submit" (click)="Stock()" name="btnSubmit" class="btn btn-primary">View</button>
      </div>
    </div>
    <img src="https://static8.depositphotos.com/1378583/1010/i/950/depositphotos_10106849-stock-photo-blood-drop-and-blood-bag.jpg" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">View All Blood Request</h5>
      <p class="card-text"></p>
      <div class="col-12">
        <button type="submit" value="submit" (click)="Request()" name="btnSubmit" class="btn btn-primary">Click</button>
      </div>
    </div>
  </div>

  </div>
</div>