<div><h3>Blood Donation Information</h3></div>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Why Your Donation Matters
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          
        <p> There are no substitutes for blood, platelets or plasma—they cannot be manufactured. Patients in need of blood or blood products must rely on donations from people like you. Those who are hesitant about donating blood for the first time often find that the donation process is easy and that saving lives is deeply gratifying.</p>
          <p>One donation can save multiple lives. Here are the facts:</p>
        <ul>
          <li>Just 1 donation can save up to 3 lives. </li>
          <li> The average red blood cell transfusion is 3 pints (or 3 whole-blood donations).
          </li>
          <li> Type O-negative whole blood can be transfused to people with any blood type, but this type of blood is rare, and supplies of it are low.</li>
          <li>Type AB plasma can be transfused to patients with all other blood types, but it's also in short supply. </li>
        </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Compatibility
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <p>Everyone who is eligible can donate blood, but depending on your blood type, you're only able to receive certain types of blood, plasma or platelets.</p>
           <p>There are eight different blood types, and they're not always compatible with each other. Interestingly, people who have O-negative blood are considered universal donors for the entire population.</p>
           <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Blood Type</th>
                <th scope="col">Can Donate Red Blood Cells To</th>
                <th scope="col">Can Receive Red Blood Cells From</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>O</td>
                <td>O, A, B, AB</td>
                <td>O, O-</td>
              </tr>
              <tr>
                
                <td>O-</td>
                <td>Everyone</td>
                <td>O-</td>
              </tr>
              <tr>
            
                <td>A</td>
                <td>A,AB</td>
                <td>A,A-,O,O-</td>
              </tr>
              <tr>
            
                <td>B</td>
                <td>B,AB</td>
                <td>B-,B,O,O-</td>
              </tr>
              <tr>
            
                <td>B-</td>
                <td>B,B-,AB,AB-</td>
                <td>B-,O-</td>
              </tr>
              <tr>
            
                <td>AB</td>
                <td>AB</td>
                <td>Everyone</td>
              </tr>
              <tr>
            
                <td>AB-</td>
                <td>AB,AB-</td>
                <td>AB-,A-,B-,O-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Who can give blood?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
         <p> Most people can give blood if they are in good health. There are some basic requirements one  need to fulfill in order to become a blood donor.  Below are some basic eligibility guidelines:</p>
        <ul>
          <li>You are aged between 18 and 65.</li>
          <li>You weigh at least 45 kg.</li>
          <li>You cannot donate if you have a cold, flu, sore throat, cold sore, stomach bug or any other infection.</li>
          <li>If you have recently had a tattoo or body piercing you cannot donate for 6 months from the date of the procedure.  If the body piercing was performed by a registered health professional and any inflammation has settled completely, you can donate blood after 12 hours.</li>
          <li>If you have visited the dentist for a minor procedure you must wait 24 hours before donating; for major work wait a month.</li>
          <li>A haemoglobin level of not less than 12.0 g/dl for females and not less than 13.0 g/dl for males as the threshold.</li>
        </ul>

        </div>
      </div>
    </div>
  </div>


