<div class="card custom " style="width: 60rem; height: 50rem ;  margin: 0 auto;top: 10%; ">
    <div class="card-body">
      <h5 class="card-title">Password Reset</h5>
      <form class="row g-3 needs-validation" novalidate [formGroup]="frmCompany" (ngSubmit)=" resetPassword(frmCompany)">
      <h6 class="text-danger">Fields marked with* are mandatory</h6>      

      <div class="col-md-12">
        <label for="Password" class="form-label">New Password<span class="text-danger">*</span></label>
        <input type="password" class="form-control" id="Password"  formControlName="Password" name="Password"  required>
        <div *ngIf="p.Password.invalid && p.Password.dirty">
          <span *ngIf="p.Password.errors?.required">Password is required</span>
          <div *ngIf="p.Password.errors?.minlength">
           Minimum word required 4
          </div>
          <div *ngIf="p.Password.errors?.maxlength">
            Max word required 10
         </div>
        </div>
        
        <div class="col-md-12">
          <label for="ConfirmPassword" class="form-label">Confirm New Password<span class="text-danger">*</span></label>
          <input type="Password" class="form-control" id="ConfirmPassword" formControlName="ConfirmPassword" appConfirmEqualValidator="Password" required>
          <div *ngIf="p.ConfirmPassword.invalid && p.ConfirmPassword.dirty">
            <span *ngIf="p.ConfirmPassword.errors?.required">Please Confirm Password</span>
          </div>
          <div *ngIf="p.ConfirmPassword.invalid && p.ConfirmPassword.dirty">
            <span *ngIf="p.ConfirmPassword.errors?.notEqual">Password and ConfirmPassword Does not Match</span>
            
          </div>
        </div>
        
      </div>
   
      <div class="col-12">
        <button type="submit" value="Submit"  name="btnSubmit" [disabled]="frmCompany.invalid" class="btn btn-primary">Reset Password</button>
      </div>
    </form>
  </div>
  </div>

  
  
